# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
backend
loadbalancer

# Test binary
*.test

# Output of go coverage
*.out
*.prof

# Go workspace
go.work
go.work.sum

# Dependency directories
vendor/

# GoLand / JetBrains
.idea/
*.iml
*.iws
*.ipr

# OS files
.DS_Store
Thumbs.db
